@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #01001f;
  /* --secondary-bg-color: #122136; */
  --secondary-bg-color: #ffffff;
  /* --font-color: #d7abfd; */
  --font-color: #000000;
  /* --secondary-font-color: #eee0ff; */
  --secondary-font-color: #000000;
  --para-font-color: #414141;
}


/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.university-sel {
  background-color: var(--bg-color);
}

.welcome-font {
  color: white;
}

.wel-back {
  background: linear-gradient(to right, #dc03ce, #5c53fb);

}

.input-color {
  background-color: #ececec;
}

.bg-cover {
  /* background-color: var(--bg-color); */
  color: var(--font-color);
}

.aboutsection {
  background-color: var(--secondary-bg-color);
}

.support-section {
  background-color: var(--secondary-bg-color);
}


.secondary-font {
  color: var(--secondary-font-color);
}

.para {
  color: var(--para-font-color);
  font-size: 14px;
}